<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Komponensek</title>

    <!-- CSS -->
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>
    <div class="container" id="app">


        <!-- oldalcím -->
        <h1>Komponensek</h1>

        <!-- Inputok -->
        <div class="mb-3">
        <input type="text" v-model="theme">
        <input type="number" v-model="offset">
        </div>    

        <!-- komponensek -->
        <counter-button v-bind:offset="offset" v-bind:theme="theme"></counter-button>
        <counter-button v-bind:offset="offset" v-bind:theme="theme"></counter-button>
        <counter-button v-bind:offset="offset" v-bind:theme="theme"></counter-button>
        
    </div>

    <!-- Vendor JS -->
    <script src="node_modules/jquery/dist/jquery.min.js"></script>
    <script src="node_modules/popper.js/dist/umd/popper.min.js"></script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="node_modules/vue/dist/vue.js"></script>
    <!-- app JS -->
    <script src="src/counter-button.js"></script>
    <script defer src="scripts.js"></script>
    
</body>
</html>